@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&family=Righteous&display=swap");

:root {
//example **   example ** [ background-color: var(--palette-blue-900); ] **
--palette-blue-grey-50: #ECEFF1;
    --palette-blue-grey-100: #CFD8DC;
    --palette-blue-grey-200: #B0BEC5;
    --palette-blue-grey-300: #90A4AE;
    --palette-blue-grey-400: #78909C;
    --palette-blue-grey-500: #607D8B;
    --palette-blue-grey-600: #546E7A;
    --palette-blue-grey-700: #455A64;
    --palette-blue-grey-800: #37474F;
    --palette-blue-grey-900: #263238;
    --palette-blue-100: #E3F2FD;
    --palette-blue-200: #BBDEFB;
    --palette-blue-300: #90CAF9;
    --palette-blue-400: #64B5F6;
    --palette-blue-500: #42A5F5;
    --palette-blue-600: #2196F3;
    --palette-blue-700: #1E88E5;
    --palette-blue-800: #1976D2;
    --palette-blue-900: #1565C0;
    --palette-blue-A100: #0D47A1;
    --palette-blue-A200: #82B1FF;
    --palette-blue-A400: #448AFF;
    --palette-blue-A700: #2979FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    background-color: darkslateblue;
    text-align: center;
}

.item {
    height: 10vh;
    width: 10vw;
}

.top {
    background-color: #0D47A1;

    grid-column: 1 / -1;
    grid-row: 1 / 2;


}

.top-menu {
    background-color: coral;

    grid-column:  3 / 9;
}

.left-menu {
    background-color: darkblue;

    grid-column: 1 / 3;
    grid-row: 2 / 10;

}

.right-menu {
    background-color: cyan;

    grid-column: 9 / -1;
    grid-row: 2 / 10;
}

.top-article {
    background-color: lightseagreen;

    grid-column: 3 / 10;
    grid-row: 3 / 10;
}

.top-footer {
    background-color: lime;



    grid-column: 1 / -1;
    grid-row: 10 / -1;
}



































/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: indianred;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: blue;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: darkcyan;
    }
}